* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    position: fixed;
}

.container2{
    color:  #ffff;

}
.gambar2{
    position: absolute;
    width: 650px;
    height: 570px;
    left: 730px;
    top: 0px;

    background: #173F36;
    box-shadow: -12px 8px 14px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.mb-6{
    position: absolute;
    width: 360px;
    height: 45px;
    left: 120px;
    top: 95px;
}

.mb-7{
    position: absolute;
    width: 360px;
    height: 45px;
    left: 120px;
    top: 165px;
}

.mb-8{
    position: absolute;
    width: 360px;
    height: 45px;
    left: 120px;
    top: 200px;
}

.btn-primary2{
    position: absolute;
    width: 360px;
    height: 50px;
    left: 0px;
    top: 50px;
    background-color: #24a0ed;
    border-radius: 16px;
    color: white;
    border: none;
}
.btn-primary2:hover{
    position: absolute;
    width: 360px;
    height: 50px;
    left: 0px;
    top: 50px;
    border-radius: 16px;
    border-color: blue;
}

.text-center2{
    position: absolute;
    width: 295px;
    height: 23px;
    left: 65px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
}

.form-controll{
    color: #ffff;
    font-family: 'Montserrat', sans-serif;

}